// Options 部分 --begin
$enable-important-utilities: false;
// Options 部分 --end

// Spacing 部分 --begin
$spacer: 1rem !default;

// 创建$spacers变量
// @param $step 步长
// @param $steps 步数(>0)
@function create-spacers($step, $steps) {
  $spacers: (0:0);

  @for $i from 1 through $steps {
    $spacers: map-merge($spacers, ($i: $spacer * $step * $i));
  }
  @return $spacers;
}

$spacers: create-spacers(.25, 32);
// Spacing 部分 --end

// Sizing 部分 --begin
// 备注：需修改_utilities.scss中的"width"和"height"两个key，改为$sizing

// 创建$sizing变量
// @param $step 步长(100的约数)
@function create-sizing($step) {
  $sizing: (auto: auto);
  $steps: 100 / $step;

  @for $i from 1 through $steps {
    $sizing: map-merge($sizing, ($step * $i: unquote(($step * $i) + '%')));
  }
  @return $sizing;
}

$sizing: create-sizing(5);
// Sizing 部分 --end
